/*defining/styling my colors at the root/parent so I can call them as color variables throughout the solution*/
:root {
    --color-one: black;
    --color-two: purple; 
    --color-three: white;
  }
  
  
  body {
    font-size: x-large;
    text-align: center;
    display:flex;
    background-color: var(--color-three);
    flex-direction: column;
    color: var(--color-one);
    padding: 100px;
    justify-content: space-between;
  }
  
  .startScreen {
    text-align: center;
    display:flex;
    background-color: var(--color-three);
    flex-direction: column;
    color: var(--color-one);
    padding: 100px;
    justify-content: space-between;
  
  }
  

  .timerDisplay {/*Display the countdown function data*/
    float: right;
  }


  .instructionsList { 
    text-align: center;
    display:flex;
    background-color: var(--color-three);
    flex-direction: column;
    color: var(--color-one);
    padding: 100px;
    justify-content: space-between;
  }

  .infoList {/*Display the information the user needs to know prior to starting the quiz*/
    text-align: center;
    display:flex;
    background-color: var(--color-three);
    flex-direction: column;
    color: var(--color-one);
    padding: 100px;
    justify-content: space-between;

  }
  
  
  header {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-three);
    color: var(--color-one);
  }
  

    .quizButton {
        max-width: 200px;
        align-self: center;
        background-color: var(--color-two); 
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
  
  } 
  
  .invisible {/*Elements with this class will not be displayed*/
    display: none;
  }
  
  .result { /*styles the display of quiz results*/
    text-align: center;
    display:flex;
    background-color: var(--color-three);
    flex-direction: column;
    color: var(--color-one);
    padding: 100px;
    justify-content: space-between;
  }
  
  .buttons .answer{  /*styles the multiple choice answer buttons*/
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: center;
    background-color: var(--color-two); 
    justify-content: space-between;
    border: none;
    color: var(--color-one);
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }

 

   
  